In [1]:
import pandas as pd

In [11]:
df=pd.read_csv('WorlPopulation.csv')
df

,#,Country (ordependency),Population(2025),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop %,WorldShare
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","−495,753",1.94,28.8,37.1%,17.78%
1,2,China,"1,416,096,094",−0.23%,"−3,225,184",151,"9,388,211","−268,126",1.02,40.1,67.5%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","−39,509",2.10,30.4,59.6%,3.47%
4,5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","−1,235,336",3.50,20.6,34.4%,3.10%
...,...,...,...,...,...,...,...,...,...,...,...,...
228,229,Montserrat,"4,359",−0.68%,−30,44,100,−9,1.45,41.6,11.5%,0.000053%
229,230,Falkland Islands,"3,469",−0.03%,−1,0,"12,170",−17,1.70,42.8,68%,0.000042%
230,231,Tokelau,"2,608",4.07%,102,261,10,53,2.57,27.3,NaN,0.000032%
231,232,Niue,"1,821",0.11%,2,7,260,3,2.46,35.7,44.5%,0.000022%
232,233,Holy See,501,1.01%,5,"1,253",0,13,1.00,57.4,NaN,0.0000061%

In [20]:
df['Population(2025)']=df['Population(2025)'].str.replace(',','')
df

,#,Country (ordependency),Population(2025),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop %,WorldShare
0,1,India,1463865525,0.89%,"12,929,734",492,"2,973,190","−495,753",1.94,28.8,37.1%,17.78%
1,2,China,1416096094,−0.23%,"−3,225,184",151,"9,388,211","−268,126",1.02,40.1,67.5%,17.20%
2,3,United States,347275807,0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,4,Indonesia,285721236,0.79%,"2,233,305",158,"1,811,570","−39,509",2.10,30.4,59.6%,3.47%
4,5,Pakistan,255219554,1.57%,"3,950,390",331,"770,880","−1,235,336",3.50,20.6,34.4%,3.10%
...,...,...,...,...,...,...,...,...,...,...,...,...
228,229,Montserrat,4359,−0.68%,−30,44,100,−9,1.45,41.6,11.5%,0.000053%
229,230,Falkland Islands,3469,−0.03%,−1,0,"12,170",−17,1.70,42.8,68%,0.000042%
230,231,Tokelau,2608,4.07%,102,261,10,53,2.57,27.3,NaN,0.000032%
231,232,Niue,1821,0.11%,2,7,260,3,2.46,35.7,44.5%,0.000022%
232,233,Holy See,501,1.01%,5,"1,253",0,13,1.00,57.4,NaN,0.0000061%

In [38]:
pd.options.display.max_rows = 9999

In [31]:
df['Population(2025)']=df['Population(2025)'].astype(int)
#df['Population(2025)'][1].isnumeric()
df

,#,Country (ordependency),Population(2025),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop %,WorldShare
0,1,India,1463865525,0.89%,"12,929,734",492,"2,973,190","−495,753",1.94,28.8,37.1%,17.78%
1,2,China,1416096094,−0.23%,"−3,225,184",151,"9,388,211","−268,126",1.02,40.1,67.5%,17.20%
2,3,United States,347275807,0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,4,Indonesia,285721236,0.79%,"2,233,305",158,"1,811,570","−39,509",2.10,30.4,59.6%,3.47%
4,5,Pakistan,255219554,1.57%,"3,950,390",331,"770,880","−1,235,336",3.50,20.6,34.4%,3.10%
...,...,...,...,...,...,...,...,...,...,...,...,...
228,229,Montserrat,4359,−0.68%,−30,44,100,−9,1.45,41.6,11.5%,0.000053%
229,230,Falkland Islands,3469,−0.03%,−1,0,"12,170",−17,1.70,42.8,68%,0.000042%
230,231,Tokelau,2608,4.07%,102,261,10,53,2.57,27.3,NaN,0.000032%
231,232,Niue,1821,0.11%,2,7,260,3,2.46,35.7,44.5%,0.000022%
232,233,Holy See,501,1.01%,5,"1,253",0,13,1.00,57.4,NaN,0.0000061%

In [32]:
df[df['Population(2025)']>1000000000]

,#,Country (ordependency),Population(2025),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop %,WorldShare
0,1,India,1463865525,0.89%,"12,929,734",492,"2,973,190","−495,753",1.94,28.8,37.1%,17.78%
1,2,China,1416096094,−0.23%,"−3,225,184",151,"9,388,211","−268,126",1.02,40.1,67.5%,17.20%

In [39]:
df.filter(items=['#','Country (ordependency)','Population(2025)'])

                            #  Population(2025)
Country (ordependency)
India                       1        1463865525
China                       2        1416096094
United States               3         347275807
Indonesia                   4         285721236
Pakistan                    5         255219554
Nigeria                     6         237527782
Brazil                      7         212812405
Bangladesh                  8         175686899
Russia                      9         143997393
Ethiopia                   10         135472051
Mexico                     11         131946900
Japan                      12         123103479
Egypt                      13         118365995
Philippines                14         116786962
DR Congo                   15         112832473
Vietnam                    16         101598527
Iran                       17          92417681
Turkey                     18          87685426
Germany                    19          84075075
Thailand                   20          71619863
Tanzania                   21          70545865
United Kingdom             22          69551332
France                     23          66650804
South Africa               24          64747319
Italy                      25          59146260
Kenya                      26          57532493
Myanmar                    27          54850648
Colombia                   28          53425635
South Korea                29          51667029
Sudan                      30          51662147
Uganda                     31          51384894
Spain                      32          47889958
Algeria                    33          47435312
Iraq                       34          47020774
Argentina                  35          45851378
Afghanistan                36          43844111
Yemen                      37          41773878
Canada                     38          40126723
Angola                     39          39040039
Ukraine                    40          38980376
Morocco                    41          38430770
Poland                     42          38140910
Uzbekistan                 43          37053428
Malaysia                   44          35977838
Mozambique                 45          35631653
Ghana                      46          35064272
Peru                       47          34576665
Saudi Arabia               48          34566328
Madagascar                 49          32740678
Côte d'Ivoire              50          32711547
Cameroon                   51          29879337
Nepal                      52          29618118
Venezuela                  53          28516896
Niger                      54          27917831
Australia                  55          26974026
North Korea                56          26571036
Syria                      57          25620427
Mali                       58          25198821
Burkina Faso               59          24074580
Sri Lanka                  60          23229470
Taiwan                     61          23112793
Malawi                     62          22216120
Zambia                     63          21913874
Chad                       64          21003705
Kazakhstan                 65          20843754
Chile                      66          19859921
Somalia                    67          19654739
Senegal                    68          18931966
Romania                    69          18908650
Guatemala                  70          18687881
Netherlands                71          18346819
Ecuador                    72          18289896
Cambodia                   73          17847982
Zimbabwe                   74          16950795
Guinea                     75          15099727
Benin                      76          14814460
Rwanda                     77          14569341
Burundi                    78          14390003
Bolivia                    79          12581843
Tunisia                    80          12348573
South Sudan                81          12188788
Haiti                      82          11906095
Belgium                    83          11758603
Jordan                     84          11520684
Dominican Republic         85          11520487
United Arab Emirates       86          11346000
Honduras                   87          11005850
Cuba                       88          10937203
Tajikistan                 89          10786734
Papua New Guinea           90          10762817
Sweden                     91          10656633
Czech Republic (Czechia)   92          10609239
Portugal                   93          10411834
Azerbaijan                 94          10397713
Greece                     95           9938844
Togo                       96           9721608
Hungary                    97           9632287
Israel                     98           9517181
Austria                    99           9113574
Belarus                   100           8997603
Switzerland               101           8967407
Sierra Leone              102           8819794
Laos                      103           7873046
Turkmenistan              104           7618847
Libya                     105           7458555
Hong Kong                 106           7396076
Kyrgyzstan                107           7295034
Paraguay                  108           7013078
Nicaragua                 109           7007502
Bulgaria                  110           6714560
Serbia                    111           6689039
Congo                     112           6484437
El Salvador               113           6365503
Denmark                   114           6002507
Singapore                 115           5870750
Lebanon                   116           5849421
Liberia                   117           5731206
Finland                   118           5623329
Norway                    119           5623071
State of Palestine        120           5589623
Central African Republic  121           5513282
Oman                      122           5494691
Slovakia                  123           5474881
Mauritania                124           5315065
Ireland                   125           5308039
New Zealand               126           5251899
Costa Rica                127           5152950
Kuwait                    128           5026078
Panama                    129           4571189
Croatia                   130           3848160
Georgia                   131           3806671
Eritrea                   132           3607003
Mongolia                  133           3517100
Uruguay                   134           3384688
Puerto Rico               135           3235289
Bosnia and Herzegovina    136           3140095
Qatar                     137           3115889
Namibia                   138           3092816
Moldova                   139           2996106
Armenia                   140           2952365
Jamaica                   141           2837077
Lithuania                 142           2830144
Gambia                    143           2822093
Albania                   144           2771508
Gabon                     145           2593130
Botswana                  146           2562122
Lesotho                   147           2363325
Guinea-Bissau             148           2249515
Slovenia                  149           2117072
Equatorial Guinea         150           1938431
Latvia                    151           1853559
North Macedonia           152           1813791
Bahrain                   153           1643332
Trinidad and Tobago       154           1511155
Timor-Leste               155           1418517
Cyprus                    156           1370754
Estonia                   157           1344232
Mauritius                 158           1268280
Eswatini                  159           1256174
Djibouti                  160           1184076
Fiji                      161            933154
Comoros                   162            882847
Réunion                   163            882405
Solomon Islands           164            838645
Guyana                    165            835986
Bhutan                    166            796682
Macao                     167            722007
Luxembourg                168            680453
Suriname                  169            639850
Montenegro                170            632729
Western Sahara            171            600904
Malta                     172            545405
Maldives                  173            529676
Cabo Verde                174            527326
Brunei                    175            466330
Belize                    176            422924
Bahamas                   177            403033
Iceland                   178            398266
Guadeloupe                179            373791
Martinique                180            340439
Mayotte                   181            337011
Vanuatu                   182            335169
French Guiana             183            313666
New Caledonia             184            295333
Barbados                  185            282623
French Polynesia          186            282465
Sao Tome & Principe       187            240254
Samoa                     188            219306
Curaçao                   189            185487
Saint Lucia               190            180149
Guam                      191            168999
Kiribati                  192            136488
Seychelles                193            132779
Grenada                   194            117303
Micronesia                195            113683
Aruba                     196            108147
Tonga                     197            103742
St. Vincent & Grenadines  198             99924
Antigua and Barbuda       199             94209
U.S. Virgin Islands       200             84138
Isle of Man               201             84118
Andorra                   202             82904
Cayman Islands            203             75844
Dominica                  204             65871
Bermuda                   205             64555
Faeroe Islands            206             56002
Greenland                 207             55745
Saint Kitts & Nevis       208             46922
Turks and Caicos          209             46855
American Samoa            210             46029
Sint Maarten              211             43923
Northern Mariana Islands  212             43541
Liechtenstein             213             40128
Gibraltar                 214             40126
British Virgin Islands    215             39732
Monaco                    216             38341
Marshall Islands          217             36282
San Marino                218             33572
Caribbean Netherlands     219             31338
Palau                     220             17663
Anguilla                  221             14728
Cook Islands              222             13263
Nauru                     223             12025
Saint Barthelemy          224             11414
Wallis & Futuna           225             11194
Tuvalu                    226              9492
Saint Pierre & Miquelon   227              5574
Saint Helena              228              5197
Montserrat                229              4359
Falkland Islands          230              3469
Tokelau                   231              2608
Niue                      232              1821
Holy See                  233               501

In [37]:
df.set_index('Country (ordependency)',inplace=True)
df

,#,Population(2025),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop %,WorldShare
Country (ordependency),,,,,,,,,,,
India,1,1463865525,0.89%,"12,929,734",492,"2,973,190","−495,753",1.94,28.8,37.1%,17.78%
China,2,1416096094,−0.23%,"−3,225,184",151,"9,388,211","−268,126",1.02,40.1,67.5%,17.20%
United States,3,347275807,0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
Indonesia,4,285721236,0.79%,"2,233,305",158,"1,811,570","−39,509",2.10,30.4,59.6%,3.47%
Pakistan,5,255219554,1.57%,"3,950,390",331,"770,880","−1,235,336",3.50,20.6,34.4%,3.10%
...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,229,4359,−0.68%,−30,44,100,−9,1.45,41.6,11.5%,0.000053%
Falkland Islands,230,3469,−0.03%,−1,0,"12,170",−17,1.70,42.8,68%,0.000042%
Tokelau,231,2608,4.07%,102,261,10,53,2.57,27.3,NaN,0.000032%
Niue,232,1821,0.11%,2,7,260,3,2.46,35.7,44.5%,0.000022%
Holy See,233,501,1.01%,5,"1,253",0,13,1.00,57.4,NaN,0.0000061%