In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'HR'],
    'Salary': [50000, 60000, 55000, 58000, 52000]
}


df=pd.read_json(data)
print(pd.head(3))

print(df.describe())