In [2]:
print('l')

l

In [7]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'HR'],
    'Salary': [50000, 60000, 55000, 58000, 52000]
}


df=pd.DataFrame(data)
print(df.head(3))

print(df.describe())

      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27         IT   60000
2  Charlie   22    Finance   55000
             Age        Salary
count   5.000000      5.000000
mean   26.800000  55000.000000
std     3.962323   4123.105626
min    22.000000  50000.000000
25%    24.000000  52000.000000
50%    27.000000  55000.000000
75%    29.000000  58000.000000
max    32.000000  60000.000000

In [11]:
print(df[df['Department']=='HR'].to_string())
print(df.sort_values(by='Salary'))

    Name  Age Department  Salary
0  Alice   24         HR   50000
4   Ella   29         HR   52000
      Name  Age Department  Salary
0    Alice   24         HR   50000
4     Ella   29         HR   52000
2  Charlie   22    Finance   55000
3    David   32  Marketing   58000
1      Bob   27         IT   60000

In [15]:
data = {
    'Name': ['John', 'Jane', 'Mike', 'Anna', 'Tom'],
    'Age': [28, 34, 26, 45, 31],
    'Department': ['IT', 'Finance', 'Finance', 'HR', 'Finance'],
    'Salary': [62000, 58000, 60000, 65000, 63000]
}

df=pd.DataFrame(data)
filtDF=df[df['Department']=='Finance']
sortDF=filtDF.sort_values(by='Age')
print(sortDF.to_string())

   Name  Age Department  Salary
1  Jane   34    Finance   58000
4   Tom   31    Finance   63000
2  Mike   26    Finance   60000

In [23]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'HR'],
    'Salary': [50000, 60000, 55000, 58000, 52000]
}


df=pd.DataFrame(data)




filtDF=df[(df['Age']>25) & ((df['Department']=='IT') | (df['Department']=='Marketing'))]
sortDF=filtDF.sort_values(by='Salary',ascending=False)
print(sortDF.to_string())

    Name  Age Department  Salary
1    Bob   27         IT   60000
3  David   32  Marketing   58000

In [27]:
filtDF=df[(df['Department']=='HR') | (df['Department']=='Finance')]
sortDF=filtDF.sort_values(by='Name')
print(sortDF.to_string())

      Name  Age Department  Salary
0    Alice   24         HR   50000
2  Charlie   22    Finance   55000
4     Ella   29         HR   52000

In [56]:
groupDFSalary=df.groupby('Department')['Salary'].mean()
groupDFAge=df.groupby('Department')['Age'].mean()
print(f'Average Salary Per Department \n{groupDFSalary.to_string()}\nAverage Age per department\n{groupDFAge.to_string()}')

Average Salary Per Department
Department
Finance      55000.0
HR           51000.0
IT           60000.0
Marketing    58000.0
Average Age per department
Department
Finance      22.0
HR           26.5
IT           27.0
Marketing    32.0

In [48]:
groupDF=df.groupby('Department')['Department'].count()
print(groupDF.to_string())

Department
Finance      1
HR           2
IT           1
Marketing    1

In [62]:
groupDfSalary=df.groupby('Department')['Salary'].max()
groupDfAge=df.groupby('Department')['Age'].min()
#print(f'Maximum Salary Per Deparment\n{groupDfSalary.to_string()}\n\nYoungest Age Group in each department\n{groupDfAge.to_string()}')
print(pd.merge(groupDfSalary,groupDfAge,on='Department'))
#is there a way to show the max salary and min age in the same table,next to each other

            Salary  Age
Department
Finance      55000   22
HR           52000   24
IT           60000   27
Marketing    58000   32

In [60]:
groupDF = df.groupby('Department').agg(
    Max_Salary=('Salary', 'max'),
    Min_Age=('Age', 'min')
)

print(groupDF)

            Max_Salary  Min_Age
Department
Finance          55000       22
HR               52000       24
IT               60000       27
Marketing        58000       32

In [65]:
newGroupDF=df.groupby('Department').agg(
    Total_Sal_Per_Department=('Salary','sum'),
    Avg_Age_Per_Department=('Age','mean')    
)

print(newGroupDF.to_string())

            Total_Sal_Per_Department  Avg_Age_Per_Department
Department
Finance                        55000                    22.0
HR                            102000                    26.5
IT                             60000                    27.0
Marketing                      58000                    32.0

In [6]:
import pandas as pd
data = {
    'Name': ['John', 'Jane', 'Mike', 'Anna', 'Tom'],
    'Age': [28, 34, 26, 45, 31],
    'Department': ['IT', 'Finance', 'Finance', 'HR', 'Finance'],
    'Salary': [62000, 58000, 60000, 65000, 63000]
}

df=pd.DataFrame(data)
SummDf=df.groupby(by='Department').agg(
    Num_Of_Employees_Per_Department=('Name','count'),
    Highest_Sal_Per_Department=('Salary','max')
    
)
print(SummDf.to_string())

            Num_Of_Employees_Per_Department  Highest_Sal_Per_Department
Department
Finance                                   3                       63000
HR                                        1                       65000
IT                                        1                       62000

In [10]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'HR'],
    'Salary': [50000, 60000, 55000, 58000, 52000]
}


df=pd.DataFrame(data)

grpDF=df.groupby(by='Department').agg(
    Avg_Salary=('Salary','mean'),
    Num_Employees=('Name','count'),
    Avg_Age=('Age','mean')
)
print(grpDF[grpDF['Avg_Age']>25])

            Avg_Salary  Num_Employees  Avg_Age
Department
HR             51000.0              2     26.5
IT             60000.0              1     27.0
Marketing      58000.0              1     32.0

In [16]:
grpDF=df.groupby(by='Department').agg(
    Tot_Salary_Department=('Salary','sum'),
    Max_age_hired=('Age','max'),
    Min_Salary_Payed=('Salary','min'),
    Num_Of_employees=('Name','count')
    
)

print(grpDF[grpDF['Num_Of_employees']==1].to_string())

            Tot_Salary_Department  Max_age_hired  Min_Salary_Payed  Num_Of_employees
Department
Finance                     55000             22             55000                 1
IT                          60000             27             60000                 1
Marketing                   58000             32             58000                 1

In [20]:

newGDF=df.groupby(by='Department').agg(
    Avg_Salary=('Salary','mean'),
    Stdv_Salary=('Salary','std'),
    Avg_Age=('Age','mean')
   
)

print(newGDF.sort_values(by='Avg_Age',ascending=False))

            Avg_Salary  Stdv_Salary  Avg_Age
Department
Marketing      58000.0          NaN     32.0
IT             60000.0          NaN     27.0
HR             51000.0  1414.213562     26.5
Finance        55000.0          NaN     22.0