In [1]:
from bs4 import BeautifulSoup as bSoup
import requests
import pandas as pd

In [2]:
url="https://en.wikipedia.org/wiki/List_of_highest-grossing_films"

In [4]:
webpage=requests.get(url)

In [5]:
soup=bSoup(webpage.text,'html')

In [6]:
myTbl=soup.find_all('table')[0]

In [7]:
#num=len(soup.find_all('th'))
lst=[x.text.strip() for x in soup.find_all('td')[:5]]
print(lst)

['1', '1', '$2,923,706,026', '2009', '[# 1][# 2]']

In [8]:
titles=[x.text.strip() for x in myTbl.find('tr').find_all(['td','th'])]
print(titles)

['Rank', 'Peak', 'Title', 'Worldwide gross', 'Year', 'Ref']

In [9]:
clData=myTbl.find_all('tr')
print(clData[1].find_all(['td','th'])[2].text.strip())

Avatar

In [10]:
data=[]
for row in clData:
    row_data=row.find_all(['td','th'])
    individual_rwData=[x.text.strip() for x in row_data]
    data.append(individual_rwData)
    print(individual_rwData)

['Rank', 'Peak', 'Title', 'Worldwide gross', 'Year', 'Ref']
['1', '1', 'Avatar', '$2,923,706,026', '2009', '[# 1][# 2]']
['2', '1', 'Avengers: Endgame', '$2,797,501,328', '2019', '[# 3][# 4]']
['3', '3', 'Avatar: The Way of Water', '$2,320,250,281', '2022', '[# 5][# 6]']
['4', '1', 'Titanic', 'T$2,257,844,554', '1997', '[# 7][# 8]']
['5', '5', 'Ne Zha 2 †', '$2,205,690,000', '2025', '[# 9][# 10]']
['6', '3', 'Star Wars: The Force Awakens', '$2,068,223,624', '2015', '[# 11][# 12]']
['7', '4', 'Avengers: Infinity War', '$2,048,359,754', '2018', '[# 13][# 14]']
['8', '6', 'Spider-Man: No Way Home', 'SM$1,922,598,800', '2021', '[# 15][# 16]']
['9', '8', 'Inside Out 2', '$1,698,863,816', '2024', '[# 17][# 18]']
['10', '3', 'Jurassic World', '$1,671,537,444', '2015', '[# 19][# 20]']
['11', '7', 'The Lion King', '$1,656,943,394', '2019', '[# 21][# 4]']
['12', '3', 'The Avengers', '$1,518,815,515', '2012', '[# 22][# 23]']
['13', '4', 'Furious 7', '$1,515,341,399', '2015', '[# 24][# 25]']
['14', '11', 'Top Gun: Maverick', '$1,495,696,292', '2022', '[# 26][# 27]']
['15', '10', 'Frozen 2', '$1,450,026,933', '2019', '[# 28][# 29]']
['16', '14', 'Barbie', '$1,447,038,421', '2023', '[# 30][# 31]']
['17', '5', 'Avengers: Age of Ultron', '$1,402,809,540', '2015', '[# 32][# 25]']
['18', '15', 'The Super Mario Bros. Movie', '$1,360,847,665', '2023', '[# 33][# 34]']
['19', '9', 'Black Panther', '$1,347,280,838', '2018', '[# 35][# 36]']
['20', '3', 'Harry Potter and the Deathly Hallows – Part 2', '$1,342,139,727', '2011', '[# 37][# 38]']
['21', '20', 'Deadpool & Wolverine', '$1,338,073,645', '2024', '[# 39][# 40]']
['22', '9', 'Star Wars: The Last Jedi', '$1,332,539,889', '2017', '[# 41][# 42]']
['23', '12', 'Jurassic World: Fallen Kingdom', '$1,308,473,425', '2018', '[# 43][# 14]']
['24', '5', 'Frozen', 'F$1,290,000,000', '2013', '[# 44][# 45]']
['25', '10', 'Beauty and the Beast', '$1,263,521,126', '2017', '[# 46][# 47]']
['26', '15', 'Incredibles 2', '$1,242,805,359', '2018', '[# 48][# 14]']
['27', '11', 'The Fate of the Furious', 'F8$1,238,764,765', '2017', '[# 49][# 47]']
['28', '5', 'Iron Man 3', '$1,214,811,252', '2013', '[# 50][# 51]']
['29', '10', 'Minions', '$1,159,444,662', '2015', '[# 52][# 20]']
['30', '12', 'Captain America: Civil War', '$1,153,337,496', '2016', '[# 53][# 54]']
['31', '20', 'Aquaman', '$1,148,528,393', '2018', '[# 55][# 14]']
['32', '2', 'The Lord of the Rings: The Return of the King', '$1,147,997,407', '2003', '[# 56][# 57]']
['33', '24RK', 'Spider-Man: Far From Home', '$1,132,679,685', '2019', '[# 58][# 4]']
['34', '23RK', 'Captain Marvel', '$1,128,274,794', '2019', '[# 59][# 60]']
['35', '5RK', 'Transformers: Dark of the Moon', '$1,123,794,079', '2011', '[# 61][# 38]']
['36', '7', 'Skyfall', '$1,108,594,137', '2012', '[# 62][# 63]']
['37', '10', 'Transformers: Age of Extinction', '$1,104,054,072', '2014', '[# 64][# 65]']
['38', '7', 'The Dark Knight Rises', 'DKR$1,081,169,825', '2012', '[# 66][# 67]']
['39', '31', 'Joker', '$1,074,458,282', '2019', '[# 68][# 29]']
['40', '32', 'Star Wars: The Rise of Skywalker', '$1,074,144,248', '2019', '[# 69][# 29]']
['41', '30', 'Toy Story 4', '$1,073,394,593', '2019', '[# 70][# 4]']
['42', '4TS3', 'Toy Story 3', '$1,066,970,811', '2010', '[# 71][# 72]']
['43', '3', "Pirates of the Caribbean: Dead Man's Chest", '$1,066,179,747', '2006', '[# 73][# 74]']
['44', '44', 'Moana 2 †', '$1,059,242,164', '2024', '[# 75][# 76]']
['45', '20', 'Rogue One: A Star Wars Story', '$1,057,420,387', '2016', '[# 77][# 78]']
['46', '34', 'Aladdin', '$1,050,693,953', '2019', '[# 79][# 4]']
['47', '2', 'Star Wars: Episode I – The Phantom Menace', '$1,046,515,409', '1999', '[# 80][# 8]']
['48', '6', 'Pirates of the Caribbean: On Stranger Tides', '$1,045,713,802', '2011', '[# 81][# 72]']
['49', '1', 'Jurassic Park', '$1,037,535,230', '1993', '[# 82][# 83]']
['50', '24', 'Despicable Me 3', '$1,034,800,131', '2017', '[# 84][# 47]']

In [17]:
mydf=pd.DataFrame(data[1:], columns=data[0])
mydf

,Rank,Peak,Title,Worldwide gross,Year,Ref
0,1,1,Avatar,"$2,923,706,026",2009,[# 1][# 2]
1,2,1,Avengers: Endgame,"$2,797,501,328",2019,[# 3][# 4]
2,3,3,Avatar: The Way of Water,"$2,320,250,281",2022,[# 5][# 6]
3,4,1,Titanic,"T$2,257,844,554",1997,[# 7][# 8]
4,5,5,Ne Zha 2 †,"$2,205,690,000",2025,[# 9][# 10]
5,6,3,Star Wars: The Force Awakens,"$2,068,223,624",2015,[# 11][# 12]
6,7,4,Avengers: Infinity War,"$2,048,359,754",2018,[# 13][# 14]
7,8,6,Spider-Man: No Way Home,"SM$1,922,598,800",2021,[# 15][# 16]
8,9,8,Inside Out 2,"$1,698,863,816",2024,[# 17][# 18]
9,10,3,Jurassic World,"$1,671,537,444",2015,[# 19][# 20]
10,11,7,The Lion King,"$1,656,943,394",2019,[# 21][# 4]
11,12,3,The Avengers,"$1,518,815,515",2012,[# 22][# 23]
12,13,4,Furious 7,"$1,515,341,399",2015,[# 24][# 25]
13,14,11,Top Gun: Maverick,"$1,495,696,292",2022,[# 26][# 27]
14,15,10,Frozen 2,"$1,450,026,933",2019,[# 28][# 29]
15,16,14,Barbie,"$1,447,038,421",2023,[# 30][# 31]
16,17,5,Avengers: Age of Ultron,"$1,402,809,540",2015,[# 32][# 25]
17,18,15,The Super Mario Bros. Movie,"$1,360,847,665",2023,[# 33][# 34]
18,19,9,Black Panther,"$1,347,280,838",2018,[# 35][# 36]
19,20,3,Harry Potter and the Deathly Hallows – Part 2,"$1,342,139,727",2011,[# 37][# 38]
20,21,20,Deadpool & Wolverine,"$1,338,073,645",2024,[# 39][# 40]
21,22,9,Star Wars: The Last Jedi,"$1,332,539,889",2017,[# 41][# 42]
22,23,12,Jurassic World: Fallen Kingdom,"$1,308,473,425",2018,[# 43][# 14]
23,24,5,Frozen,"F$1,290,000,000",2013,[# 44][# 45]
24,25,10,Beauty and the Beast,"$1,263,521,126",2017,[# 46][# 47]
25,26,15,Incredibles 2,"$1,242,805,359",2018,[# 48][# 14]
26,27,11,The Fate of the Furious,"F8$1,238,764,765",2017,[# 49][# 47]
27,28,5,Iron Man 3,"$1,214,811,252",2013,[# 50][# 51]
28,29,10,Minions,"$1,159,444,662",2015,[# 52][# 20]
29,30,12,Captain America: Civil War,"$1,153,337,496",2016,[# 53][# 54]
30,31,20,Aquaman,"$1,148,528,393",2018,[# 55][# 14]
31,32,2,The Lord of the Rings: The Return of the King,"$1,147,997,407",2003,[# 56][# 57]
32,33,24RK,Spider-Man: Far From Home,"$1,132,679,685",2019,[# 58][# 4]
33,34,23RK,Captain Marvel,"$1,128,274,794",2019,[# 59][# 60]
34,35,5RK,Transformers: Dark of the Moon,"$1,123,794,079",2011,[# 61][# 38]
35,36,7,Skyfall,"$1,108,594,137",2012,[# 62][# 63]
36,37,10,Transformers: Age of Extinction,"$1,104,054,072",2014,[# 64][# 65]
37,38,7,The Dark Knight Rises,"DKR$1,081,169,825",2012,[# 66][# 67]
38,39,31,Joker,"$1,074,458,282",2019,[# 68][# 29]
39,40,32,Star Wars: The Rise of Skywalker,"$1,074,144,248",2019,[# 69][# 29]
40,41,30,Toy Story 4,"$1,073,394,593",2019,[# 70][# 4]
41,42,4TS3,Toy Story 3,"$1,066,970,811",2010,[# 71][# 72]
42,43,3,Pirates of the Caribbean: Dead Man's Chest,"$1,066,179,747",2006,[# 73][# 74]
43,44,44,Moana 2 †,"$1,059,242,164",2024,[# 75][# 76]
44,45,20,Rogue One: A Star Wars Story,"$1,057,420,387",2016,[# 77][# 78]
45,46,34,Aladdin,"$1,050,693,953",2019,[# 79][# 4]
46,47,2,Star Wars: Episode I – The Phantom Menace,"$1,046,515,409",1999,[# 80][# 8]
47,48,6,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802",2011,[# 81][# 72]
48,49,1,Jurassic Park,"$1,037,535,230",1993,[# 82][# 83]
49,50,24,Despicable Me 3,"$1,034,800,131",2017,[# 84][# 47]

In [20]:
mydf.to_csv('TopGrossingFilms.csv',index=False)