In [1]:
print('Hello world')

Hello world

In [2]:
import csv


file_path='soEmployees.csv'
add=True
employees=[['Name','Position','Salary']]
try:
    while add:
        addEmployees=[]
        name=input('Add a New Employee:')
        addEmployees.append(name)
        position=input('Add Job Title:')
        addEmployees.append(position)
        salary=int(input('Add Job Salary:R'))
        addEmployees.append(salary)   
        employees.append(addEmployees)
    
        addMore=input('Would you like to add another employee:(Y/N):')
        if addMore.lower()=='y':
            add=True
        elif addMore.lower()=='n':
            add=False
        else:
            break


    with open(file_path,'a') as file:
        writer=csv.writer(file)
        for row in employees:
            writer.writerow(row)
        print(f'File {file_path} created ,employees added')

except:
    print('Something went wrong')

finally:
    print(f'\nCode executed perfectly')

Add a New Employee: Kwanele
Add Job Title: Data Analyst
Add Job Salary:R 23000
Would you like to add another employee:(Y/N): y
Add a New Employee: Thabo
Add Job Title: Software Engeneer
Add Job Salary:R 60000
Would you like to add another employee:(Y/N): Y
Add a New Employee: Zanele
Add Job Title: System Administrator
Add Job Salary:R 45000
Would you like to add another employee:(Y/N): n

File soEmployees.csv created ,employees added

Code executed perfectly

In [5]:
with open(file_path,'r',newline='') as file:
    empl=csv.reader(file)
    for line in empl:
        if not line==[]:
             print(line)

['Name', 'Position', 'Salary']
['Kwanele', 'Data Analyst', '23000']
['Thabo', 'Software Engeneer', '60000']
['Zanele', 'System Administrator', '45000']

In [9]:
import pandas as pd

df=pd.read_csv(file_path)
print(df.to_string())

      Name              Position  Salary
0  Kwanele          Data Analyst   23000
1    Thabo     Software Engeneer   60000
2   Zanele  System Administrator   45000

In [15]:
df = pd.DataFrame({
    'Name': ['Sam', 'Lily', 'Alex'],
    'Age': [22, 25, 20]
})

print(df[df['Age']>21])

   Name  Age
0   Sam   22
1  Lily   25