In [2]:
from bs4 import BeautifulSoup as btS
import requests
import pandas as pd
print('l')

l

In [9]:
url=r"https://en.wikipedia.org/wiki/List_of_best-selling_automobiles"

wepage=requests.get(url)

In [69]:
soup=btS(wepage.text,'html')

In [45]:
carTable=soup.find('table',class_='wikitable sortable plainrowheaders')
#carTable

In [70]:
#getting the headers
top=carTable.find_all('th')
tblHeaders=[head.text.strip() for head in top[1:5]]
print(tblHeaders)

['Automobile', 'Production', 'Units sold', 'Notes']

In [67]:
#getting the entire table
carlist=[]
tblRows=carTable.find_all('tr')[1:]
for data in tblRows:
    eachR=data.find_all(['td','th'])
    dList=[c.text.strip() for c in eachR]
    carlist.append(dList[1:])

#tblRows[1].find_all('td')[2].text.strip()

In [71]:
Cdf=pd.DataFrame(carlist,columns=tblHeaders)
Cdf

,Automobile,Production,Units sold,Notes
0,Ford Model T,1908–1927,"16,500,000[8]","The first car to achieve one million, five mil..."
1,"Lada ""Classic""",1970–2012[9],"17,750,000[10]",The number does not include the platform's arc...
2,Volkswagen Beetle,1938–2003,"21,529,464[3]",The first car to achieve twenty million units ...
3,Toyota Corolla,1966–present,"50,000,000 by 2021[2]",The 50 million milestone was reached in 2021. ...

In [74]:
Cdf.to_csv('TopGrossingCars.csv', index=False)